<div class="sidebar">
    <h2 class="sidebar-title">POSSIE</h2>
    <ul class="sidebar-menu">

        <li class="sidebar-item active">
            <a href="#">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bxs-food-menu'></i>
                    </div>
                </i>
                Menu
            </a>
        </li>

        

        <li class="sidebar-item"><a href="#"><i class="icon">📊</i>Sales</a></li>
        <li class="sidebar-item"><a href="#"><i class="icon"><i class='bx bxs-box'></i></i>Inventory</a></li>
        <li class="sidebar-item"><a href="#"><i class="icon">📋</i>Reports</a></li>
        <li class="sidebar-item"><a href="#"><i class="icon">🧾</i>Order/Table</a></li>
    </ul>
    <div class="sidebar-logout">
        <a href="#"><i class="icon">🔄</i>Logout</a>
    </div>
</div>