<div class="custom-alert" id="custom-alert" style="display:none;">
  <div class="modal-backdrop">

    <div class="modal-content">
      <span id="custom-alert-message"></span>
      <div id="custom-alert-buttons" class="button-container">
        <button id="custom-alert-secondary" class="custom-alert-btn secondary close-btn" style="display:none;"></button>
        <button id="custom-alert-ok" class="custom-alert-btn submit-btn">OK</button>
      </div>
    </div>
  </div>
</div>