<div class="header_container">
    <div class="header_customer">
        <nav class="header_nav">
            <a href="#" class="brand">POSSIE</a>
            <ul class="nav_links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>