<div class="header-container">
    <div class="header-customer">
        <nav class="header-nav">
            <div class="left-nav-content">
                <a href="#" class="brand">POSSIE</a>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="right-nav-content">
                {{> search_bar}}
                {{#if isLoggedIn}}
                <div class="user-profile">
                    <span id="dropDown" class="username">{{username}} &#128899;</span>
                    <div class="dropdown-content">
                        <a id="settingBtn">Settings</a>
                        <a id="logOutBtn">Log Out</a>
                    </div>
                </div>
                {{else}}
                <div class="user-profile">
                    <button id="btnLogin" class="btn-login">Login</button>
                </div>
                {{/if}}
            </div>
        </nav>
    </div>
</div>