<div class="reports-container">
    <div class="total-revenue-container">
        <h3>Total Revenue</h3>
        <p class="total-revenue-amount">₱<span id="total-revenue">0.00</span></p>
    </div>

    <div class="canvas-container">
        <canvas id="dailyIncomeChart" width="400" height="150"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="monthlyIncomeChart" width="400" height="150"></canvas>
    </div>
    <div class="canvas-container">
        <canvas id="annualIncomeChart" width="400" height="150"></canvas>
    </div>
</div>