<div class="sidebar">
    <h2 class="sidebar-title">POSSIE</h2>
    <ul class="sidebar-menu">

        <li class="sidebar-item active">
            <a role="button">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bxs-food-menu'></i>
                    </div>
                </i>
                Menu
            </a>
        </li>

        <li class="sidebar-item"><a role="button">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bx-line-chart'></i>
                    </div>
                </i>
                Sales
            </a></li>

        <li class="sidebar-item"><a role="button">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bxs-box'></i>
                    </div>
                </i>
                Inventory
            </a></li>

        <li class="sidebar-item"><a role="button">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bxs-report'></i>
                    </div>
                </i>
                Reports
            </a></li>

        <li class="sidebar-item"><a role="button">
                <i class="icon">
                    <div class="icon-circle">
                        <i class='bx bxs-package'></i>
                    </div>
                </i>
                Orders
            </a></li>
    </ul>
    <div class="sidebar-logout">
        <a role="button"><i class="icon"><i class='bx bx-log-out'></i></i>Logout</a>
    </div>
</div>