<div class="flex-container">
    {{> admin_nav}}
    <div class="contents">
        <div class="top-details">
            <div class="sidebar-toggle" id="sidebarToggle">
                <div class="toggle-icon">
                    <i class='bx bxs-chevron-left'></i>
                </div>
            </div>
            {{#each shops}}
            <h1 class="shop_name">{{shop_name}}</h1>
            {{/each}}
            {{#if isLoggedIn}}
            <div class="user_profile">
                <h3 id="dropDown" class="username">{{username}}</h3>
            </div>
            {{/if}}
        </div>

        <div class="content-menu">
            {{> admin_content_menu}}
        </div>

        <div class="content-sales">
            {{> admin_content_sales}}
        </div>

        <div class="content-inventory">
            {{> admin_content_inventory}}
        </div>

        <div class="content-reports">
            {{> admin_content_reports}}
        </div>

        <div class="content-order">
            {{> admin_content_order}}
        </div>
    </div>
</div>

{{> admin_modal}}