admin

<div class="product_container">
{{#each products}}
    <div class="product">
        <img src="{{product_img}}" alt="img" class="product_img">
        <p class="product_name">{{product_name}}</p>
        <p class="product_description">{{product_description}}</p>
        <p class="product_price">{{product_price}}</p>
    </div>
{{/each}}
</div>