body {
    background-color: var(--background-color);
    font-family: sans-serif;
    color: var(--text);
    margin: 0;
    padding: 20px;
}

.shop_name {
  color: var(--text_light);
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-card {
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 16px;
    width: 100%;
    margin: 5px 0;
}

.checkbox {
    transform: scale(1.2);
}

.product-img {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    object-fit: cover;
    background-color: var(--background-color);
}

.product-info {
    flex: 1;
}

.product-name {
    margin: 0;
    font-size: 14px;
}

.product-desc {
    color: var(--text_light);
    margin: 0;
    font-size: 12px;
}

.product-id,
.product-qty,
.product-category,
.product-price,
.product-stock {
    width: 100px;
    font-size: 13px;
    text-align: center;
}

.product-actions {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.edit-btn:hover {
    color: #00bfff;
}

.delete-btn:hover {
    color: #ff4d4d;
}
