:root {
    --bg: #2c2c2c;
    --background: #111111;
    --body: #111111;

    --div: #292929;
    --div_hover: #3d3d3d;
    --div_highlight: #9a9a9a;

    --text_highlight: #b6b6b6;
    --text: #adadad;
    --text_fade: #757575;

    --input_element: #a7a7a7;
    --input_light: #585858;
    --input: #424242;

    --button: #a5a5a5;
    --button_hover: rgb(185, 185, 185);
    --button_text_hover: rgb(58, 58, 58);
    --button_text: #333333;

    --button_fade: rgb(66, 66, 66);
    --button_fade_hover: rgb(86, 86, 86);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    height: 100%;
    background-color: var(--background);
}

html {
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}
