:root {
    --background: #131313;

    --div: #2B2B2B;
    --div-hover: #323232;

    --text-primary: #FFFFFF;
    --text-secondary: #CFCFCF;

    --input-text: #848484;
    --input-element: #1F1F1F;
    --input-border: #303030;
    --input: #424242;

    --button-primary: #BDB9B8;
    --button-primary-hover: #AFABAA;
    --button-secondary: #373737;
    --button-secondary-hover: #434343;

    --button-text-primary: #111111;
    --button-text-secondary: #FFFFFF;
}

body.light-mode {
    --background: #bdbdbd;

    --div: #ffffff;
    --div-hover: #d0d0d0;

    --text-primary: #232323;
    --text-secondary: #666666;

    --input-text: #444444;
    --input-element: #f9f9f9;
    --input-border: #a4a4a4;
    --input: #e8e8e8;

    --button-primary: #838383;
    --button-primary-hover: #666666;
    --button-secondary: #919191;
    --button-secondary-hover: #bbbbbb;

    --button-text-primary: #232323;
    --button-text-secondary: #ffffff;
}


/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    background-color: var(--background);
    color: var(--text);
    scrollbar-color: var(--button-primary) transparent;
    height: 100%;
}

html {
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--text);
}


