:root {
    --background: #131313;

    --div: #2B2B2B;
    --div-hover: #323232;

    --text-primary: #FFFFFF;
    --text-secondary: #CFCFCF;

    --input-text: #848484;
    --input-element: #1F1F1F;
    --input-border: #303030;
    --input: #424242;

    --button-primary: #BDB9B8;
    --button-primary-hover: #AFABAA;
    --button-secondary: #373737;
    --button-secondary-hover: #434343;

    --button-text-primary: #111111;
    --button-text-secondary: #FFFFFF;
}


/* 
:root {
    --bg: #2c2c2c;
    --background: #111111;
    --body: #111111;

    --div: #292929;
    --div_hover: #3d3d3d;
    --div_highlight: #9a9a9a;

    --text_highlight: #ffffff;
    --text: #ffffff;
    --text_fade: #cecece;

    --input_element: #a7a7a7;
    --input_light: #585858;
    --input: #424242;

    --button: #a5a5a5;
    --button_hover: rgb(185, 185, 185);
    --button_text_hover: rgb(58, 58, 58);
    --button_text: #333333;

    --button_fade: rgb(66, 66, 66);
    --button_fade_hover: rgb(86, 86, 86);
} */
/* 
body.light-mode {

    --bg: #f9f9f9;
    --background: #a0a0a0;
    --body: #a0a0a0;

    --div: #e0e0e0;
    --div_hover: #d6d6d6;
    --div_highlight: #c0c0c0;

    --text_highlight: #333333;
    --text: #444444;
    --text_fade: #888888;

    --input_element: #cccccc;
    --input_light: #f0f0f0;
    --input: #e8e8e8;

    --button: #666666;
    --button_hover: #444444;
    --button_text_hover: #ffffff;
    --button_text: #ffffff;

    --button_fade: #bbbbbb;
    --button_fade_hover: #999999;
} */

/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    background-color: var(--background);
    color: var(--text);
    scrollbar-color: var(--button-primary) transparent;
}

html {
    font-size: 16px;
    /* 1rem = 16px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--text);
}


    body {
    }

