.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px, 50px, 0px, 50px;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    aspect-ratio: 5/4;
    background-color: var(--div);
    color: var(--text-primary);
    transition: transform 0.3s;
    transition: all 0.3s;
}

.product:hover {
    transition: all 0.3s;
    transform: scale(1.02);
    background-color: var(--div-hover);
}

.img-display {
    display: flex;
    width: 100%;
    height: 250px; 
    overflow: hidden; 
    border-radius: 10px; 
    background-color: var(--input);
    justify-content: center;
    align-items: center; /* Center the image vertically */
    align-content: center;
    margin: 0px 0px 10px 0px;
}

.product-img {
    width: 100%;
    object-fit:cover;
}
   

.product-details {
    display: flex;
    justify-content: space-between; /* Space out left and right details */
    align-items: flex-start; /* Align items at the top */
    width: 100%; /* Ensure it spans the full width of the product card */
}

.left-detail {
    flex: 2; /* Take up more space for the left detail */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Add spacing between elements */
    margin: 0px 0px 10px 0px;
}

.right-detail {
    flex: 1; /* Take up less space for the right detail */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
    gap: 5px; /* Add spacing between elements */
    margin: 0px 0px 10px 0px;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text);
    text-transform: capitalize;
}

.product-description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-secondary);
    text-align: justify;
}

.product-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--button);
}

.product-stock {
    font-size: 0.95rem;
    color: var(--text-secondary);
}
  
.add-cart {
    background-color: var(--button-primary);
    color: var(--button-text-primary);
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%; /* Make the button span the full width */
    text-align: center;
    transition: all 0.3s;
}
.add-cart:hover {
    transition: all 0.3s;
    background-color: var(--button-primary-hover);
}


#no-items-matched {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
    text-align: center;
    color: var(--text-secondary);
    margin: 50px 0;
}