.notification-icon,
.search-container {
    display: none;
}

.notification-container{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.notification-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--div);
    color: var(--text-primary);
    width: 80%;
    margin: 20px auto 0 auto;
}