/* Profile Icon Container */
.profile-icon {
    display: flex;
    align-items: center;
    background-color: var(--button-secondary_hover);
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background-color: var(--div);
    border-radius: 10px;
}

/* Profile Image */
.profile-image {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-icon:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--button_text_hover); /* Change on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

/* Profile Placeholder */
.profile-placeholder {
    display: none; /* Hidden by default */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--input);
    color: var(--input-text);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Ensure the letter is uppercase */
    object-fit: cover;
}

/* Profile Details Container */
.profile-details {
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px; /* Match login container width */
    position: absolute;
    background: var(--div-hover); /* Match login container background */
    right: 10px;
    top: 80px;
    border-radius: 10px;
    padding: 30px; /* Match login container padding */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Match login container shadow */
    z-index: 3;
    text-align: center; /* Center-align text */
    color: var(--text-primary); /* Match login text color */
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

/* Notification Details Container */
.notification-details {
    opacity: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    position: absolute;
    background: var(--div-hover);
    right: 10px;
    top: 80px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 3;
    text-align: center;
    color: var(--text-primary);
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

/* Profile Detail Icon */
.profile-detail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px; /* Add spacing below the icon */
}

.profile-detail-image {
    display: flex;
    width: 60px; /* Adjust the size of the icon */
    height: 60px; /* Adjust the size of the icon */
    border-radius: 50%; /* Make it circular */
    object-fit: cover;
}

/* Profile Header Text */
.profile-header h2 {
    margin: 0;
    color: var(--button); /* Match login title color */
    font-weight: 600;
}

.profile-header p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
    color: var(--text_light); /* Match login subtitle color */
}

/* Profile Actions */
.profile-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.btn-acc-manage {
    padding: 10px;
    background: var(--button-primary);
    color: var(--button-text-primary);
    border: solid 1px var(--input_element);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-acc-manage:hover {
    background: var(--button-primary_hover); /* Match login button hover */
    box-shadow: 0 0 0px 1000px var(--button-primary_hover) inset !important;
}

.profile-header h2,
.profile-header p {
    color: var(--text);
}

.detail-logout {
    margin-top: auto;
    padding-bottom: 10px;
}

.detail-logout a {
    text-decoration: none;
    color: var(--text);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s; /* Added transition */
}

.detail-logout a .icon {
    font-size: 1.5rem;
}

.detail-logout a:hover {
    color: var(--button_hover);
}

.notification-icon,
.cart-icon {
    font-size: 2rem;
    color: var(--text-secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    align-self: center;
    margin: auto;
}

.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--input);
    border-radius: 5px;
    z-index: 1000;
    min-width: 200px;
    padding: 10px;
}

.notification-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notification-dropdown ul li {
    padding: 10px;
    border-bottom: 1px solid var(--div);
    font-size: 0.9rem;
    color: var(--text-primary);
}

.notification-dropdown ul li:last-child {
    border-bottom: none;
}

.notification-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-profile {
    font-size: 1.3rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--button-primary);
    transition: all 0.2s ease-in-out;
}
.user-profile:hover {
    color: var(--button-primary-hover);
}

.user-profile .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--input);
    border-radius: 5px;
    z-index: 1000;
    min-width: max-content;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease-in-out;
}

.user-profile .dropdown-content.visible {
    transform: translateY(0);
    opacity: 1; /* Fully visible */
    visibility: visible; /* Allow interaction */
}

.user-profile .dropdown-content a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-primary);
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.user-profile .dropdown-content a:hover {
    transition: all 0.2s ease-in-out;
    border: solid 1px var(--button-primary-hover);
    border-radius: 5px;
}

.btn-login {
    background-color: var(--button-primary);
    color: var(--button-text-primary);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.btn-login:hover {
    background-color: var(--button-primary-hover);
}

.notification-container {
    margin: 1px 0 1px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}
.notification-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--input);
    color: var(--text-primary);
    width: 100%;

}

.notification-container h3 {
    margin: 0;
    color: var(--button);
    font-weight: 600;
}

.notification-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-container ul li {
    padding: 10px;
    border-bottom: 1px solid var(--input);
    color: var(--text);
}

.notification-container ul li:last-child {
    border-bottom: none;
}
