.search-form {
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--input);
    border-radius: 5px;
    padding: 5px 10px;
    width: 300px;
    transition: all 0.3s ease-in-out;
}
.search-container:hover,
.search-container:focus-within {
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--input_element);
}

.search-input {
    background-color: transparent;
    border: none;
    color: var(--text);
    font-size: 1rem;
    width: 100%;
    padding: 5px;
    appearance: none;
    -webkit-appearance: none; 
}

.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus {
    background-color: var(--input) !important;
    color: var(--text) !important;
    transition: all 0.3s ease-in-out 0s !important;
    -webkit-text-fill-color: var(--text) !important;
    caret-color: var(--text);
    box-shadow: 0 0 0px 1000px var(--input) inset !important;
}

.search-container i{
    color: var(--input_element);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s, color 0.3s;
}

.search-container input:focus {
    transition: all 0.3s;
    outline: none;
}