.add-modal{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.delete-modal{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
.save-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.modal-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: var(--div);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    z-index: 4;
}

h2 {
    color: var(--text-primary);
    font-weight: 600;
    margin-bottom: 20px;
}

.add-product-form {
    display: flex;
    flex-direction: column; 
    width: 100%; 
    align-items: center; 
    justify-content: center; 
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    color: var(--text-primary);
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.form-group textarea {
    resize: vertical;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    font-size: 1rem;
    background: var(--input); 
    color: var(--text-primary);
    transition: all 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 0px 1000px var(--input) inset !important;
    border: 1px solid var(--input-element) !important; 
    transition: all 0.3s ease-in-out;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus {
    background-color: var(--input) !important;
    color: var(--input-text) !important;
    transition: all 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--input-text) !important;
    caret-color: var(--input-text) !important;
    box-shadow: 0 0 0px 1000px var(--input) inset !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}   

.button-container {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: auto 0 auto auto;
}

.submit-btn {
    align-self: flex-end;
    background-color: var(--button-primary);
    color: var(--button-text-primary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.submit-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--button-primary-hover);
}

.close-btn {
    background-color: var(--button-secondary);
    color: var(--button-text-secondary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}
.close-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--button-secondary-hover);
}

#deleteModal h2 {
    color: var(--button-primary);
}

#deleteModal .submit-btn {
    transition: all 0.3s ease-in-out;
    background-color: var(--button-primary);
}
#deleteModal .submit-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--button-primary-hover);
}

#saveChangesModal h2 {
    color: var(--success);
}

#saveChangesModal .submit-btn {
    transition: all 0.3s ease-in-out;
    background-color: var(--success);
}
#saveChangesModal .submit-btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--success_hover);
}

.dropzone {
    border: 2px dashed var(--input_element);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: var(--text);
    background-color: var(--input);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: inherit;
}
.dropzone.dragover {
    background-color: var(--button_fade);
    border-color: var(--button);
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.dropzone p {
    margin: 0;
    font-size: 14px;
    color: var(--text);
}
