.orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px 20px;
    height: 80vh;
    overflow-y: auto;
    margin: 20px 0 0 0;
    border-radius: 5px;
}

.order-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--div);
    width: 100%;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}
.order-card:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--div-hover);
}

.left-content {
    align-self: flex-start;
}

.right-content {
    align-self: center;
}

.order-options {
    margin-top: 10px;
}

.order-options button {
    margin-right: 10px;
    padding: 10px 10px;
    background-color: var(--button-primary);
    color: var(--button-text-primary);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
}

.order-options button:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--button-primary-hover);
}

.order-card.locked {
    opacity: 0.5;
    pointer-events: none;
    position: relative;
}

.confirm-order-btn,
.delete-order-btn {
    background-color: var(--button-secondary);
    color: var(--button-text-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
}

.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 10;
}

@media (max-width: 768px) {
    .orders-container {
        padding: 0 10px 10px 10px;
    }
    .order-card {
        flex-direction: column;
        align-items: center;
    }
    .order-options {
        margin-top: 10px;
    }

    .shop-content,
    .flex-container,
    .content-order {
        height: 100%;
    }

    .orders-container {
        /* Subtract the navbar height (e.g., 60px) from viewport height */
        height: calc(100vh + 200px);
    }
}