.content-inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 85vh;
    overflow-y: auto;
}

.inventory-container {
    padding: 20px;
    background-color: var(--div);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--div);
    border-radius: 8px;
    overflow: hidden;
}

.inventory-table th,
.inventory-table td {
    border: 1px solid var(--div_highlight);
    padding: 12px;
    text-align: center;
    color: var(--text);
}

.inventory-table th {
    background-color: var(--div_hover);
    font-weight: bold;
    color: var(--text_highlight);
    text-transform: uppercase;
}

.inventory-table td {
    background-color: var(--div);
}

.inventory-table td input[type="number"] {
    width: 60px;
    text-align: center;
    background-color: var(--input);
    color: var(--text);
    border: 1px solid var(--input_light);
    border-radius: 4px;
    padding: 5px;
}

.inventory-table td input[type="number"]:focus {
    outline: none;
    border-color: var(--text_highlight);
}

.inventory-table td button {
    padding: 8px 12px;
    background-color: var(--button);
    color: var(--button_text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.inventory-table td button:hover {
    background-color: var(--button_hover);
    color: var(--button_text_hover);
}

.inventory-table tr:nth-child(even) {
    background-color: var(--div_hover);
}

.inventory-table tr:hover {
    background-color: var(--div_highlight);
    color: var(--text_highlight);
}